<%= form_with model: album, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "アルバムの名称" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :caption, "キャプション" %><br />
    <%= f.text_area :caption, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "アルバムの画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div id="image-list"></div>

  <div class="actions">
    <%= f.submit "シェアする", class: :form__btn  %>
  </div>
<% end %>